// 100 thin
// 200 extra-light
// 300 light
// 400 regular
// 500 medium
// 600 semi-bold (doesn't exist for input)
// 700 bold
// 800 extra-bold (doesn't exist for input)
// 900 black

// input sans
@font-face {
    font-family: "Input Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/resources/fonts/InputSans/InputSans/InputSans-Regular.ttf);
}

@font-face {
    font-family: "Input Sans";
    font-style: italic;
    font-weight: 400;
    src: url(/resources/fonts/InputSans/InputSans/InputSans-Italic.ttf);
}

@font-face {
    font-family: "Input Sans";
    font-style: normal;
    font-weight: 900;
    src: url(/resources/fonts/InputSans/InputSans/InputSans-Black.ttf);
}

@font-face {
    font-family: "Input Sans";
    font-style: italic;
    font-weight: 900;
    src: url(/resources/fonts/InputSans/InputSans/InputSans-BlackItalic.ttf);
}

// ibm plex sans
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
