// defaults
@use "reset";
@use "fonts";

// variables
$color-fg: #120d11;
// $color-fg-s1: rgba($color-fg, 0.8);
$color-bg: #f0eaf0;
$color-bg2: #e9e2e9;
// $color-bg-t1: #292929;

$color-accent1: #8e4cc5;
// $color-accent1-s1: rgba($color-accent1, 0.8);
// $color-accent2: #bf616a;

$font-weight-thin:         100; // plex
$font-weight-extra-light:  200; // plex
$font-weight-light:        300; // plex
$font-weight-regular:      400; // plex
$font-weight-medium:       500; // plex
$font-weight-semi-bold:    600; // plex
$font-weight-bold:         700; // plex
$font-weight-extra-bold:   800; //
$font-weight-black:        900; //

// $font-size-s:     1.6rem;
// $font-size-base:  2.0rem;
// $font-size-l:     3.2rem;
// $font-size-xl:    4.8rem;
// $font-size-xxl:   6.4rem;

$font-families-header: "IBM Plex Sans", sans-serif;
$font-families-body: "IBM Plex Sans", sans-serif;
$font-families-mono: monospace;

:root {
  --font-size-s:     1.6rem;
  --font-size-base:  2.0rem;
  --font-size-l:     2.8rem;
  --font-size-xl:    4.2rem;
  --font-size-xxl:   4.8rem;
}

html {
  scroll-behavior: smooth;
}

body {
  // text
  font-family: $font-families-body;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-base);
  font-weight: $font-weight-regular;
  // colors
  background: $color-bg;
  color: $color-fg;
}

body {
  display: grid;
  grid-template-columns:
    1fr
    calc(min(60ch, calc(100% - 64px)))
    1fr;
  grid-column-gap: 32px;
}

body > * {
  grid-column: 2;
}

main {
  h2 {
    margin-top: 30px;
  }
  p {
    margin: 15px 0;
  }
}

nav {
  display: flex;
  // padding: 12px;
  // width: calc(min(60ch, calc(100% - 64px)));
  // margin: 0 auto;
  height: 12.5rem;
  gap: 12px;
  align-items: center;
  font-weight: $font-weight-semi-bold;
  .home-link {
    margin-right: auto;
    font-size: 3.0rem;
  }
  a.nav-link {
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: $color-fg;
      &.secondary {
        color: rgba($color-fg, 0.25);
        cursor: default;
      }
    }
  }
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    color: $color-fg;
    transition: color 300ms;
  }

  &:hover {
    color: $color-accent1;
  }
  &:active {
    color: rgba($color-accent1, 0.5);
  }
}

a.inline-link {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    font-weight: $font-weight-medium;
  }
}

p.not-found {
  text-align: center;
}

.secondary {
  color: rgba($color-fg, 0.25);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // background: rgba($color-fg, 0.05);
  background: $color-bg2;
  width: 100%;
  grid-column: 1 / 4;
  height: 12.5rem;
  margin-top: 32px;
}

// nav {
//     // box
//     padding: 4.0rem 3.0rem;
//     margin: 0 auto;
//     max-width: 80.0rem;
//     p {
//         display: flex;
//         flex-direction: row;
//         gap: 1.0rem;
//         a {
//             // text
//             text-transform: lowercase;

//             // &:link, &:visited {
//             // 
//             // }

//             &:hover {
//                 color: $color-accent1;
//             }
//             &:active {
//                 color: $color-accent1-s1;
//             }

//             &.current-page {
//                 font-weight: $font-weight-black;
//             }
//             // &.page {
//             //     font-weight: $regular;
//             // }
//         }
//     }
// }

// main {
//     // box
//     padding: 0 3.0rem;
//     margin: 0 auto;
//     max-width: 80.0rem;

//     // headings
//     h1, h2, h3, h4, h5, h6 {
//         font-family: $font-families-header;
//     }
//     h1 {
//         // text
//         font-weight: $font-weight-bold;
//         font-size: var(--font-size-xl);
//         // box
//         margin: 10.0rem 0 12.5rem 0;

//         &.hero {
//             font-size: var(--font-size-xxl);
//         }
//     }
//     h2 {
//         // font
//         font-weight: $font-weight-bold;
//         font-size: var(--font-size-l);
//         // box
//         margin: 7.5rem 0 4.0rem 0;
//     }

//     // box elements
//     p {
//         margin: 3.5rem 0;
//     }
//     ul {
//         margin-left: 3.2rem;
//         line-height: 1.75;
//         list-style-position: outside;
//         list-style-type: disc;
//         // li::before {
//         //     content: "• ";
//         // }
//     }
//     code.block-code {
//         display: block;
//         padding: 1.5rem;
//         // max-width: 80%;
//         // max-width: 50.0rem;
//         // overflow: scroll;
//         background-color: $color-bg-t1;
//         font-family: $font-families-mono;
//         font-weight: $font-weight-regular;
//         // white-space: nowrap;
//         p {
//             margin: 0;
//             overflow: scroll;
//             scrollbar-width: none;
//             white-space: pre;
//         }
//     }

//     // inline elements
//     em.dev-tool {
//         font-style: italic;
//     }
//     em.pronouns {
//         font-style: italic;
//     }
//     em.school-course {
//         font-style: italic;
//     }
//     a.inline-link {
//         &:link, &:visited, &:hover, &:active {
//             text-decoration: underline;
//             text-decoration-thickness: 2px;
//         }
    
//         &:hover {
//             color: $color-accent1;
//         }
//         &:active {
//             color: $color-accent1-s1;
//         }
//     }
//     code.inline-code {
//         // background: $bg-b;
//         // color: $accent2-a;
//         color: $color-fg-s1;
//         font-family: $font-families-mono;
//         font-weight: $font-weight-regular;
//     }
// }

// // div.home-page {
// //     min-height: 100vh;
// // }

// footer {
//     text-align: center;
//     padding: 3.6rem 2.0rem;
//     margin: 0 auto;
//     max-width: 80.0rem;
//     hr {
//         margin-top: 3.2rem;
//         margin-bottom: 3.2rem;
//         height: 1px;
//         color: $color-fg-s1;
//     }
//     a.inline-link {
//         // &:link, &:visited, &:hover, &:active {
//         //     text-decoration: underline;
//         //     text-decoration-thickness: 2px;
//         // }
    
//         &:hover {
//             color: $color-accent1;
//         }
//         &:active {
//             color: $color-accent1-s1;
//         }
//     }
// }
