// defaults
@use "reset";
@use "fonts";

// colors
$color-fg: #120d11; // black
$color-fg2: rgba($color-fg, 0.25); // dark grey
$color-bg: #f0eaf0; // white
$color-bg2: #e9e2e9; // light grey

$color-accent1: #8e4cc5; // purple

// font sizes
$font-size-s:     1.6rem;
$font-size-base:  2.0rem;
$font-size-l:     2.8rem;
$font-size-xl:    4.2rem;
$font-size-xxl:   4.8rem;

// font families
$font-families-header: "IBM Plex Sans", sans-serif;
$font-families-body: "IBM Plex Sans", sans-serif;
$font-families-mono: monospace;

// css vars
:root {}

html {
  scroll-behavior: smooth;
}

body {
  // text & colors
  font-family: $font-families-body;
  text-rendering: optimizeLegibility;
  font-size: $font-size-base;
  font-weight: 400;
  background: $color-bg;
  color: $color-fg;

  // layout
  display: grid;
  grid-template-columns:
    1fr
    calc(min(60ch, calc(100% - 64px)))
    1fr;
  grid-column-gap: 32px;
  & > * {
    grid-column: 2;
  }
}

// normal styles
main {
  h2 {
    margin-top: 30px;
  }
  p {
    margin: 15px 0;
  }
}

// special styles
.secondary {
  color: $color-fg2;
}

// link styles
a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    color: $color-fg;
    transition: color 300ms;
  }

  &:hover {
    color: $color-accent1;
  }
  &:active {
    color: rgba($color-accent1, 0.5);
  }
}

a.inline-link {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    font-weight: 500;
  }
}

// nav box
nav {
  display: flex;
  height: 12.5rem;
  gap: 12px;
  align-items: center;
  font-weight: 600;
  .home-link {
    margin-right: auto;
    font-size: 3.0rem;
  }
  a.nav-link {
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: $color-fg;
      &.secondary {
        color: $color-fg2;
        cursor: default;
      }
    }
  }
}

// footer box
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $color-bg2;
  height: 12.5rem;
  margin-top: 32px;

  // full-bleed
  width: 100%;
  grid-column: 1 / 4;
}

// special page styles
p.not-found {
  text-align: center;
}
