footer
    hr
    a.inline-link(href="/") ~
    | 
    a.inline-link(href="/git") git
    | 
    a.inline-link(href="/about") about
    | 
    a.inline-link(href="http://github.com/mackrusing/site") src
    | 
    a.inline-link(href="/resources/mackrusing.asc" download) key
