html(lang="en-us")
    head
        //- metadata
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")

        //- page info
        title mackrusing

        //- stylesheets
        link(href="/resources/styles/style.css", rel="stylesheet", type="text/css")
    body
        nav 
            p 
                a.current-page(href="/") ~
                a.page(href="/git") git
                a.page(href="/about") about
        main.home-page 
            h1.hero Mack Rusing 
            p 
                | Hi, I'm Mack (he/him), a 17-year-old software developer from 
                | Phoenix, Arizona. You can usually find me working in Rust, 
                | TypeScript, or Java.
                |
                a.inline-link(href="/about") More about me →
            p 
                | I am currently working on some web apps in TypeScript.
                |
                a.inline-link(href="/git") My projects →