@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  src: url(/resources/fonts/ia-writer-quattro.ttf);
}

@font-face {
  font-family: 'iA Writer Quattro';
  font-style: italic;
  src: url(/resources/fonts/ia-writer-quattro-italic.ttf);
}

@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  src: url(/resources/fonts/ia-writer-mono.ttf);
}

@font-face {
  font-family: 'iA Writer Mono';
  font-style: italic;
  src: url(/resources/fonts/ia-writer-mono-italic.ttf);
}
