// css reset
@use 'reset';

// fonts
@use 'fonts';

// pages
@use 'home';
@use 'card';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// color variables
:root {
  /* colors */
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  /* ui */
  --bg: #23272e;
  --bg2: #292d36;
  --mid: #7d828c;
  --fg: #abb2bf;
}

// page defaults
body {
  // text
  font-family: 'iA Writer Quattro';
  font-weight: 500;
  font-size: 18px;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  // box
  min-height: 100vh;
  // colors
  color: var(--fg);
  background-color: var(--bg);
}

// normal links
a:not([class]) {
  &:link,
  &:visited {
    color: var(--blue);
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: var(--magenta);
    text-decoration: underline;
  }
}

// dividers
hr {
  position: absolute;
  left: 0;
  width: 100vw;
  border: none;
  height: 1px;
  background: var(--mid);
  margin: 0;
}

// sections
main {
  & > section,
  & > div {
    // margin: 0 auto;
    // padding-left: 20px;
    // padding-right: 20px;
    // max-width: 890px;
  }
}

// content containers
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 890px;
}

footer {
  margin: 30px 0;
  padding: 0 10px;
  text-align: center;
}

// section
section {
  // box
  padding-top: 80px;
  padding-bottom: 80px;
  // text
  line-height: 1.8;

  h1 {
    // box
    margin-bottom: 25px;
    // text
    font-size: 1.75em;
    text-transform: lowercase;
    font-weight: bold;
    color: var(--green);
  }

  h2 {
    // box
    margin: 15px 0;
    // text
    font-size: 1.25em;
    font-weight: bold;
  }

  h3 {
  }

  ul {
    list-style: disc outside;
    padding-left: 1em;
  }
}

// list 'bulleted' with icons
.icon-list {
  li {
    // flex
    display: flex;
    align-items: baseline;
    gap: 10px;

    i {
      width: 1em;
      text-align: center;
    }
  }
}
