// css reset
@use 'reset';

// fonts
@use 'fonts';

// default styles
@use 'defaults';
@use 'components';

// pages
@use 'home';
@use 'card';

// components
// @use 'header';

// variables
:root {
  // colors
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;

  // ui
  --bg: hsl(0, 0%, 8%);
  --bg2: hsla(0, 0%, 100%, 2.5%);
  --mid: hsla(0, 0%, 90%, 50%);
  --fg: hsl(0, 0%, 90%);

  // font sizes
  --font-size-xs: 0.8rem; // 8px
  --font-size-sm: 1.2rem; // 12px
  --font-size-base: 1.6rem; // 16px
  --font-size-md: 2rem; // 20px
  --font-size-lg: 2.4rem; // 24px
  --font-size-xl: 2.8rem; // 28px
  --font-size-xxl: 3.2rem; // 32px
  --font-size-xxxl: 3.6rem; // 36ox
}

html {
  font-size: 62.5%;
}

// site defaults
body {
  // text
  font-family: 'iA Writer Quattro';
  text-rendering: optimizeSpeed;
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5;
  // box
  min-height: 100vh;
  // colors
  color: var(--fg);
  background-color: var(--bg);
}

// content container
.container {
  // default box
  margin: 0 auto;
  padding: 1rem 0;
  // small box
  max-width: calc(100% - calc(1.5rem * 2));
  padding: inherit 1.5rem;
  @media (min-width: 576px) {
    max-width: calc(100% - calc(1.5rem * 2));
    padding: inherit 1.5rem;
  }
  @media (min-width: 768px) {
    max-width: calc(100% - calc(2rem * 2));
    padding: inherit 2rem;
  }
  @media (min-width: 992px) {
    max-width: calc(100% - calc(2.5rem * 2));
    padding: inherit 2.5rem;
  }
  @media (min-width: 1200px) {
    max-width: calc(1000px + calc(3rem * 2));
    padding: inherit 3rem;
  }
}

// // section
// section {
//   // box
//   padding-top: 80px;
//   padding-bottom: 80px;
//   // text
//   line-height: 1.8;

//   h1 {
//     // box
//     margin-bottom: 25px;
//     // text
//     font-size: 1.75em;
//     text-transform: lowercase;
//     font-weight: bold;
//     color: var(--green);
//   }

//   h2 {
//     // box
//     margin: 15px 0;
//     // text
//     font-size: 1.25em;
//     font-weight: bold;
//   }

//   h3 {
//   }

//   ul {
//     list-style: disc outside;
//     padding-left: 1em;
//   }
// }
