.nav {
  // flex
  display: flex;
  gap: 12px;
  align-items: center;
  width: var(--length-content);
  margin: 0 auto;
  // padding: 3.8rem 0;
  padding: 4.0rem 0;

  // text
  font-weight: 600;

  .logo {
    margin-right: auto;
    font-size: var(--font-size-xxl);
  }
  .navLink {}
  .disabled, .disabled:hover {
    color: var(--color-shade-4);
    cursor: default;
  }
}