html(lang="en-us")
    head
        //- metadata
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")

        //- page info
        title mackrusing

        //- stylesheets
        link(href="/resources/styles/style.css", rel="stylesheet", type="text/css")
    body
        nav 
            p 
                a.page(href="/") ~
                a.page(href="/git") git
                a.page(href="/about") about
        main 
            h1 404 - Not Found
            p oops, this page doesn't exist