*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  src: url(/resources/fonts/ia-writer-quattro.ttf);
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  src: url(/resources/fonts/ia-writer-quattro-italic.ttf);
}
@font-face {
  font-family: "iA Writer Mono";
  font-style: normal;
  src: url(/resources/fonts/ia-writer-mono.ttf);
}
@font-face {
  font-family: "iA Writer Mono";
  font-style: italic;
  src: url(/resources/fonts/ia-writer-mono-italic.ttf);
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 30px 0;
}
@media (min-width: 500px) and (min-height: 700px) {
  .card-container {
    height: 100vh;
    margin: 0;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background: var(--bg2);
  width: 350px;
  border-radius: 15px;
  padding: 40px;
  font-size: 18px;
}
@media (max-width: 400px) {
  .card {
    width: 90vw;
  }
}
@media (max-width: 325px) {
  .card {
    font-size: 16px;
  }
}
.card .pfp {
  max-width: 220px;
  max-height: 220px;
  border: 0;
  border-radius: 50%;
  margin-bottom: 20px;
  align-self: center;
}
.card h1 {
  font-size: 2em;
  font-weight: bold;
}
.card h2 {
  color: var(--mid);
  margin-bottom: 10px;
}
.card li {
  display: flex;
  flex-flow: row nowrap;
}
.card li .emoji {
  width: 2em;
}

:root {
  /* colors */
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  /* ui */
  --bg: hsl(0, 0%, 8%);
  --bg2: hsla(0, 0%, 100%, 2.5%);
  --mid: hsla(0, 0%, 90%, 50%);
  --fg: hsl(0, 0%, 90%);
}

body {
  font-family: "iA Writer Quattro";
  text-rendering: optimizeSpeed;
  font-weight: 500;
  line-height: 1.5;
  min-height: 100vh;
  color: var(--fg);
  background-color: var(--bg);
}

a:not([class]):link, a:not([class]):visited,
a.link:link,
a.link:visited {
  color: var(--blue);
  text-decoration: none;
  transition: color 0.5s;
}
a:not([class]):hover, a:not([class]):active,
a.link:hover,
a.link:active {
  color: var(--magenta);
  text-decoration: underline;
  transition: color 0.5s;
}

.invisible-link:hover, .invisible-link:active {
  color: var(--blue);
}
.invisible-link:link, .invisible-link:visited, .invisible-link:hover, .invisible-link:active {
  transition: color 0.5s;
}

.link-arrow {
  color: var(--blue);
}
.link-arrow:link, .link-arrow:visited, .link-arrow:hover, .link-arrow:active {
  transition: color 0.5s;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

mark {
  background: var(--yellow);
  color: var(--bg);
}

code {
  font-family: "iA Writer Mono";
}

.icon-list li {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.icon-list li i {
  width: 1em;
  text-align: center;
}
