/*============================================================================*/
/*=================================  Fonts  ==================================*/
/*============================================================================*/

/* Calibre */

@font-face {
  font-family: 'Calibre';
  src: url(./fonts/calibre-regular.woff2);
  font-weight: lighter;
}

@font-face {
  font-family: 'Calibre';
  src: url(./fonts/calibre-medium.woff2);
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url(./fonts/calibre-semibold.woff2);
  font-weight: bold;
}

/*============================================================================*/
/*=================================  Styles  =================================*/
/*============================================================================*/

/* Global Variables */
:root {
  /* Main Colors */
  --fg-color: hsl(219, 14%, 71%);
  --im-color: hsl(220, 6%, 53%);
  --bg-color: hsl(218, 14%, 16%);

  /* Accent Colors */
  --ac-red-color: hsl(355, 65%, 65%);
  --ac-ora-color: hsl(29, 54%, 61%);
  --ac-yel-color: hsl(39, 67%, 69%);
  --ac-gre-color: hsl(95, 38%, 62%);
  --ac-cya-color: hsl(187, 47%, 55%);
  --ac-blu-color: hsl(207, 82%, 66%);
  --ac-pur-color: hsl(286, 60%, 67%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Calibre';
  font-size: 20px;
  font-weight: lighter;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
}

ul,
ol {
  list-style-type: none;
  text-indent: 0;
}

/* HTMl and Body */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--im-color);
  background: var(--bg-color);
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navbar */
header {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
  /* background-color: var(--bg-color); */
  /* background-color: aquamarine; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
  /* margin: 0 20px; */
  /* font-family: 'Menlo', 'Courier New', Courier, monospace; */
}

nav p.top-icon {
  font-size: 20px;
  color: var(--ac-blu-color);
  padding-top: 5px;
}

nav div.links {
  padding-top: 5px;
}

nav div.links p {
  font-size: 5px;
}

nav div.links a {
  margin: 10px;
}

nav div.links a strong {
  font-family: 'Menlo', 'Courier New', Courier, monospace;
  color: var(--ac-blu-color);
  font-size: 16px;
}

nav div.links a:link,
nav div.links a:visited {
  color: var(--im-color);
}

nav div.links a:hover,
nav div.links a:active {
  color: var(--ac-blu-color);
}

/* Hero */
section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  min-height: 100vh;
}

.hero h1 {
  color: var(--fg-color);
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero h3 {
  font-family: 'Menlo', 'Courier New', Courier, monospace;
  margin-bottom: 30px;
  color: var(--ac-blu-color);
}

.hero p {
  max-width: 580px;
  line-height: 1.5;
}
